# Mac OS
.DS_Store

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/

# Rider
.idea/

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml

# Secrets files - Never commit secrets
secrets.json
appsettings.Development.json

# Packages
*.nupkg
